{% extends 'accounts/base.html' %}
{% block content %}
<div class="card shadow p-4 mt-4">
  <h4>Edit Scheduled Message</h4>
  <form method="post">{% csrf_token %}
    <div class="mb-3">
      <label>Message</label>
      <textarea name="message" class="form-control">{{ log.message }}</textarea>
    </div>
    <div class="mb-3">
      <label>Schedule Time</label>
      <input type="datetime-local" name="scheduled_time" class="form-control"
             value="{{ log.scheduled_time|date:'Y-m-d\TH:i' }}">
    </div>
    <button class="btn btn-warning">Update Message</button>
  </form>
</div>
{% endblock %}

